@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lato:ital,wght@0,100;0,300;0,400;1,900&family=Quicksand:wght@300;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   background-image: url(../images/background.jpeg);
   background-repeat:no-repeat;
   background-size:cover;
   background-attachment: fixed;
   font-family: 'Lato', sans-serif;
}

img{
    max-width: 100%;
}

.navbar-brand{
    width: 30%;
}
footer{
    background-color: #212529;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    width: 100%;
}
footer ul li{
    list-style: none;
}
footer ul li a{
   text-decoration: none;
   color: whitesmoke;
}
.footer1{
    display: flex;
    flex-direction: column;
    padding: 0;
}
.redes ul{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-around;
    padding: 1rem 0;
}

.footer1 .redes ul li i{
    color: hsla(342, 100%, 46%, 1);
    font-size: 2rem;
}
.footer1 h5{
    color: whitesmoke;
    text-decoration: underline;
    text-align: center;
    font-size: 1rem;
    text-transform: uppercase;
}
.footer1 .links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer1 .links ul{
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer1 .links ul li a:hover{
    color: hsla(342, 100%, 46%, 1);
}
.footer2 .copy{
    color: whitesmoke;
    text-align: center;
    padding: 0;
}

/*MEDIA QUERIES*/
/* TABLET */
@media (min-width: 768px) {
    .navbar-expand-md .navbar-collapse {
        justify-content: end;
        padding-right: 1rem;
    }
    .navbar-expand-md .navbar-nav {
        width: 80%;
        justify-content: space-between;
    }
    .footer1{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .footer1 .redes, .footer1 .links{
        width: 50%;
    }
   
}
/* ESCRITORIO */
@media (min-width: 1200px) {
}

/* paleta de colores */
/* CSS HEX */
/* --dogwood-rose: #DA0168ff;
--dogwood-rose-2: #D90166ff;
--red-crayola: #E90044ff;
--black: #000000ff;
--maroon: #800000ff; */

/* CSS HSL */
/* --dogwood-rose: hsla(332, 99%, 43%, 1);
--dogwood-rose-2: hsla(332, 99%, 43%, 1);
--red-crayola: hsla(342, 100%, 46%, 1);
--black: hsla(0, 0%, 0%, 1);
--maroon: hsla(0, 100%, 25%, 1); */

